@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;514&display=swap");
* {
  color: white;
}

* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
}
.header #navItem:hover {
  color: #b9b99b;
}


.container00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no repeat;
  background-position: center;
}

.arrowDown {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
}

.LogoPc {
  width: 250px;
  margin-left: -15px;
  margin-right: 40px;
}

#button {
  padding: 15px 35px;
}

.footer {
  background-color: black;
  height: 20vh;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer a:hover {
  color: #b9b99b;
}
.footer .copyOBC {
  color: #555252;
}

/* MEDIA QUERY */
@media (max-width: 405px) {
  .LogoPc {
    width: 150px;
    margin-top: 15px;
  }
  .footer {
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .LogoPc {
    width: 150px;
    margin-top: 15px;
  }
}
.container00.container01 {
  background-image: url(../../images/home/01.jpg);
}
.container00.container02 {
  background-image: url(../../images/home/03.jpg);
}
.container00.container03 {
  background-image: url(../../images/home/02.gif);
}
.container00.container04 {
  background-image: url(../../images/home/04.jpg);
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: -25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: -25px;
}

/* Media Query */
@media (max-width: 750px) {
  .titlePadding {
    padding-top: 120px;
  }
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 50px;
  }
}
@media (max-width: 270px) {
  .shortTitle,
  .mediumTitle {
    width: auto;
    font-size: 30px;
  }
}
.container00.container05 {
  background-image: url(../../images/falcon9/01.jpg);
}
.container00.container06 {
  background-image: url(../../images/falcon9/02.jpg);
}
.container00.carrossel01 {
  background-image: url(../../images/falcon9/03.jpg);
}
.container00.carrossel02 {
  background-image: url(../../images/falcon9/04.jpg);
}
.container00.carrossel03 {
  background-image: url(../../images/falcon9/05.jpg);
}
.container00.carrossel04 {
  background-image: url(../../images/falcon9/06.jpg);
}
.container00.carrossel05 {
  background-image: url(../../images/falcon9/07.jpg);
}
.container00.container07 {
  background-image: url(../../images/falcon9/08.jpg);
}

.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.titleFalcon9 {
  font-size: 80px;
  font-family: "Rubik" sans-serif;
  font-weight: 514;
}

.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.numbers .titleNumb {
  font-size: 90px;
}
.numbers .subTitleNumb {
  font-size: 20px;
}

.falcon9Desc {
  font-size: 20px;
  width: 640px;
  line-height: 50px;
}

.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}

#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carrosselSlide img {
  height: 100vh;
}

.carouselText {
  background-color: black;
}

.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 300px;
}
.downloadDesc a {
  text-decoration: none;
  color: #555252;
}
.downloadDesc a:hover {
  color: #b9b99b;
}
.downloadDesc .button {
  border: 2px solid white;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .numbers p {
    font-size: 18px;
  }
  .falcon9Desc {
    font-size: 26px;
  }
  #overViewPosition {
    display: block;
    width: 500px;
    margin-left: 13%;
    padding-top: 20%;
  }
}
@media (max-width: 575px) {
  .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
  }
  .titleFalcon9 {
    font-size: 50px;
  }
  .numbers h1 {
    font-size: 30px;
  }
  .numbers p {
    font-size: 14px;
  }
  .containerFalcon9Desc p {
    width: auto;
    font-size: 18px;
    line-height: 30px;
  }
  #overViewPosition {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
  }
  .titleOverView {
    font-size: 26px;
    font-weight: bold;
  }
  .subTitleOvewView {
    font-size: 20px;
    font-weight: 300;
  }
}
@media (max-width: 510px) {
  .downloadDesc button {
    margin: 10px 0px;
  }
}
.container00.container08 {
  background-image: url(../../images/humanFlight/01.jpg);
}
.container00.container09 {
  background-image: url(../../images/humanFlight/02.jpg);
}
.container00.container10 {
  background-image: url(../../images/humanFlight/03.jpg);
}
.container00.container11 {
  background-image: url(../../images/humanFlight/04.jpg);
}
.container00.container12 {
  background-image: url(../../images/humanFlight/05.jpg);
}

.container01Content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container01Content .titleHuman {
  font-size: 120px;
}
.container01Content .subTitleHuman {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
}
.container01Content .img {
  width: 130px;
}

.earthDesc {
  background-color: black;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.earthDesc .textDescEarth {
  color: #d8d8d8;
  font-weight: 400;
  font-size: 20px;
  width: 800px;
}
.earthDesc a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.containerRightContent {
  margin-left: 55%;
  padding-top: 15%;
}

.titleSection {
  font-size: 60px;
  font-weight: bold;
}

.subTitle {
  font-weight: 300;
  margin-bottom: 40px;
}

.containerLeftContent {
  margin-left: 5%;
  padding-top: 15%;
}

@media (max-width: 1024px) {
  .container01Content .titleHuman {
    font-size: 90px;
  }
  .container01Content .subTitleHuman {
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 300;
  }
  .containerRightContent {
    margin-left: 50%;
    padding-top: 20%;
  }
  .titleSection {
    font-size: 50px;
    font-weight: bold;
  }
  .subTitle {
    font-weight: 300;
    margin-bottom: 40px;
  }
  .containerLeftContent {
    margin-left: 5%;
    padding-top: 20%;
  }
}
@media (max-width: 425px) {
  .container01Content .titleHuman {
    font-size: 40px;
  }
  .container01Content .subTitleHuman {
    font-size: 16px;
  }
  .arrowDown {
    display: none;
  }
  .eartDesc {
    height: 30vh;
  }
  .eartDesc .textDescEarth {
    color: #d8d8d8;
    font-weight: 400;
    font-size: 14px;
    width: auto;
  }
  .containerRightContent {
    margin-left: 20%;
    padding-top: 30%;
  }
  .titleSection {
    font-size: 50px;
    font-weight: bold;
  }
  .subTitle {
    font-weight: 300;
    margin-bottom: 40px;
  }
  .containerLeftContent {
    margin-left: 7%;
    padding-top: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
