.container00 {
  &.container05 {
    background-image: url(../../images/falcon9/01.jpg);
  }
  &.container06 {
    background-image: url(../../images/falcon9/02.jpg);
  }
  &.carrossel01 {
    background-image: url(../../images/falcon9/03.jpg);
  }
  &.carrossel02 {
    background-image: url(../../images/falcon9/04.jpg);
  }
  &.carrossel03 {
    background-image: url(../../images/falcon9/05.jpg);
  }
  &.carrossel04 {
    background-image: url(../../images/falcon9/06.jpg);
  }
  &.carrossel05 {
    background-image: url(../../images/falcon9/07.jpg);
  }
  &.container07 {
    background-image: url(../../images/falcon9/08.jpg);
  }
}
.titleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}
.titleFalcon9 {
  font-size: 80px;
  font-family: "Rubik" sans-serif;
  font-weight: 514;
}
.numbers {
  background-color: black;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .titleNumb {
    font-size: 90px;
  }
  .subTitleNumb {
    font-size: 20px;
  }
}
.falcon9Desc {
  font-size: 20px;
  width: 640px;
  line-height: 50px;
}
.containerFalcon9Desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: left;
}
#overViewPosition {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carrosselSlide {
  img {
    height: 100vh;
  }
}

.carouselText {
  background-color: black;
}
.downloadDesc {
  background-color: black;
  height: 85vh;
  padding-top: 300px;

  a {
    text-decoration: none;
    color: $copy-color;

    &:hover {
      color: $link-hover;
    }
  }
  .button {
    border: 2px solid white;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .numbers {
    p {
      font-size: 18px;
    }
  }
  .falcon9Desc {
    font-size: 26px;
  }
  #overViewPosition {
    display: block;
    width: 500px;
    margin-left: 13%;
    padding-top: 20%;
  }
}
@media (max-width: 575px) {
  .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
  }
  .titleFalcon9 {
    font-size: 50px;
  }
  .numbers {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 14px;
    }
  }
  .containerFalcon9Desc {
    p {
      width: auto;
      font-size: 18px;
      line-height: 30px;
    }
  }
  #overViewPosition {
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-left: auto;
  }
  .titleOverView {
    font-size: 26px;
    font-weight: bold;
  }
  .subTitleOvewView {
    font-size: 20px;
    font-weight: 300;
  }
}
@media (max-width: 510px) {
  .downloadDesc {
    button {
      margin: 10px 0px;
    }
  }
}
